.gridEl canvas.grid {
    background: #cfc;
}

.gridEl {
    display: inline-block;
    margin: 2px 5px 5px 5px;
    border: 1px solid black;
}

.gridEl p {
    margin: 0;
    text-align: center;
}


button {
    margin: 2px 5px 5px 5px;
    min-width: 100px;
}
